<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="com.theoreticsinc.mobileparking">

    <uses-permission android:name="android.permission.BLUETOOTH_ADMIN" />
    <uses-permission android:name="android.permission.BLUETOOTH" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.NFC" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature
        android:name="android.hardware.nfc"
        android:required="true" />

    <!-- To auto-complete the email text field in the login form with the user's emails -->
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.READ_PROFILE" />
    <uses-permission android:name="android.permission.READ_CONTACTS" />

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_title"
        android:supportsRtl="true"
        android:theme="@style/AppTheme"
        tools:ignore="GoogleAppIndexingWarning">
        <activity android:name=".MainActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".barcode.BarcodeCaptureActivity"
            android:theme="@style/Theme.AppCompat.NoActionBar" />
        <activity
            android:name=".nfcdemo.BaseEntryActivity"
            android:screenOrientation="portrait" />
        <activity
            android:name=".BluetoothActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".DeviceListActivity"
            android:configChanges="orientation|keyboardHidden"
            android:label="@string/select_device"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Dialog" />
        <activity
            android:name=".ExitActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.nfc.action.NDEF_DISCOVERED" />

                <data
                    android:host="*"
                    android:pathPrefix=""
                    android:scheme="http"
                    tools:ignore="AppLinkUrlError" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.nfc.action.TECH_DISCOVERED" />
            </intent-filter>

            <meta-data
                android:name="android.nfc.action.TECH_DISCOVERED"
                android:resource="@xml/nfc_tech_filter" />
        </activity>
        <activity
            android:name=".ShopActivity"
            android:label="@string/title_activity_shop"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".CartActivity"
            android:label="@string/title_activity_cart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".AddItemsActivity"
            android:label="@string/title_activity_add_items"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".PrintReceiptActivity"
            android:label="@string/title_activity_print_receipt"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".Add2CartActivity"
            android:label="@string/title_activity_add2_cart"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".LoginActivity"
            android:label="@string/app_title" />
        <activity
            android:name=".PredictionActivity"
            android:label="@string/title_activity_prediction" />
        <activity
            android:name=".TestNFCExit"
            android:label="@string/title_activity_test_nfcexit"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ComputationActivity"
            android:label="@string/app_title"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ManualEntryActivity"
            android:label="@string/title_activity_manual_entry"
            android:theme="@style/AppTheme.NoActionBar"></activity>
    </application>

</manifest>